@import 'tailwindcss';

:root {
  --background: #ffffff;
  --gradient-start: #32eaed;
  --gradient-end: #9cc6fe;
  --text-dark: #323232;
  --brand-color: #808285;
}

@theme inline {
  --color-background: var(--background);
  --font-dmsans: var(--font-dmsans), sans-serif;
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-dmsans), sans-serif;
}